@keyframes mottoCrawl {
   0%{
      margin-left:-110vh;
   }
   100%{
      margin-left:20vh;
   }
  }

  @media screen and (max-width: 1492px) {
    .ex{
        
        border-width:.2px;
        color:lightgrey;
        text-align:center;
        animation: mottoCrawl 9s infinite ;
     
     }
  }
  @media screen and (max-width: 1292px) {
    .ex{
        
        border-width:.2px;
        color:lemonchiffon;
        text-align:center;
        animation: mottoCrawl 9s infinite ;
     
     }
  }
  @media screen and (max-width: 892px) {
    .ex{
        
        border-width:.2px;
        color:lightgrey;
        text-align:center;
        animation: mottoCrawl 9s infinite ;
     
     }
  }

.topImg{
   width:100%;
}

.waistTrainer{
   border:solid lightgray;
   border-width:.2px;
   height:auto;
   /* margin:2em; */
   color:lightgray;
   display:flex;
   justify-content: space-evenly;
}
.chest,.gut,.thighs{
   border:solid lightgrey;
   padding:4px;
   font-size:12px;
   margin:6px;
   border-width:.2px;
   text-align:center;
   width:33%;
}
.chest:hover,.gut:hover,.thighs:hover{
   border:solid lightgrey;
   padding:4px;
   font-size:12px;
   margin:6px;
   border-width:.2px;
   text-align:center;
   width:33%;
  
}
.token{
   width:auto;
   height:60px;
}
.dailyContainer{
   /* border:solid lightgrey; */
   margin:1em;
}
.screen{
   border:solid peru;
   border-width:.2px;
   margin:12px;
   height:auto;
   background-image:url('https://images.unsplash.com/photo-1580706483913-b6ea7db483a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI3fHxjb21wdXRlciUyMGNoaXBzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
   background-size:cover;
}
.dailyBtnHolster{
   /* border:solid yellow; */
   display:flex;
   justify-content: space-evenly;
   border-radius:22px;
   padding:2px;
}
.dbtn{
   border:solid peru;
   border-width:.2px;
   border-radius:22px;
   margin-top:8px;
   color:lightgrey;
   width:22%;
   text-align:center;
}
.modal-header,.modal-body,.modal-footer{
   background-color:#333C3F;
   color:white;
   text-align:center;
   
}
.npts{
   padding:2em;
}