@keyframes mottoCrawl {
   0%{
      margin-left:-110vh;
   }
   100%{
      margin-left:20vh;
   }
  }

  @media screen and (max-width: 1492px) {
    .ex{
        border:solid lightgrey; 
        border-width:.2px;
        color:lightgrey;
        text-align:center;
        animation: mottoCrawl 9s infinite ;
     
     }
  }
  @media screen and (max-width: 1292px) {
    .ex{
        border:solid lightgrey; 
        border-width:.2px;
        color:lemonchiffon;
        text-align:center;
        animation: mottoCrawl 9s infinite ;
     
     }
  }
  @media screen and (max-width: 892px) {
    .ex{
        border:solid lightgrey; 
        border-width:.2px;
        color:lightblue;
        text-align:center;
        animation: mottoCrawl 9s infinite ;
     
     }
  }

.topImg{
   width:100%;
}

.waistTrainer{
   border:solid lightblue;
   border-width:.2px;
   height:6vh;
   margin:2em;
   color:lightblue;
   padding:4px;
   display:flex;
   justify-content: space-evenly;
}
.chest,.gut,.thighs{
   /* border:solid lightgrey; */
   border-width:.2px;
   text-align:center;
   width:30%;
}
.chest:hover,.gut:hover,.thighs:hover{
   border:solid lightgrey;
   border-width:.2px;
   text-align:center;
   width:30%;
   box-shadow: 3px 8px 55px 26px rgba(90,215,166,0.75);
-webkit-box-shadow: 3px 8px 55px 26px rgba(90,215,166,0.75);
-moz-box-shadow: 3px 8px 55px 26px rgba(90,215,166,0.75);
}